html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}



body {
  background-color: rgb(136, 122, 108);

  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}


/*---------------------------------------------------*/


/* font config */
body h2 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  font-size: 30px;
}

header p {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}


/*---------------------------------------------------*/


/* Header */
header {
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  margin-right: 5%;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #1f1e1e;
  border-radius: 10px;
}

nav ul li:first-child {
  float: left;
  text-align: left;
  padding: 10px 40px;

}


/*---------------------------------------------------*/


/* Home */
#home {
  text-align: center;
  background-image: url("./imagens/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
  
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.info img {
  width: 2%;
  padding: 10px;
}

#pfp {
  border-radius: 50%;
  top: 35%;
  left: 45%;
}




/*---------------------------------------------------*/


/* Projects */
#projetos {
  text-align: center;
  background-color: rgb(214, 213, 212);
  padding: 5%;
  height: 100%;

  background-image: url("./imagens/detail.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#projetos h2 {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#project-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
}

#retratos  .test{
  width: 20%;
  display: inline-block;
}

#projetos p {
  font-size: 150%;
}


/*---------------------------------------------------*/



/* About */
#sobre {
  text-align: center;
  background-color: rgb(199, 198, 197);
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 5%;

  background-image: url("./imagens/detail.png");
  background-size: contain;
  background-repeat: no-repeat;
  
}

#sobre h2 {
  padding: 10px;
  display: inline-block;
  
}

#sobre img {
  display: inline-block;
  max-width: 100%;
  width: 25px;
}

#sobre p {
  clear: both;
  font-size: 24px;
}


#tecnologias img {
  margin-top: 2%;
  width: 5%;
  text-align: center;
}

#descricao_tecnologias {
  display: flex;
  justify-content: center;
}

#html {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

#css {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

#c {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

#python {
  margin-left: 1.5%;
  margin-right: 1.5%;
}



/*---------------------------------------------------*/


/* Contacts */
#contatos {
  text-align: center;
  background-color: rgb(179, 178, 177);
  height: 23%;
}

#contatos h2 {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#contacts-icon {
  width: 20px;
  display: inline-block;
}


